@{
    ViewBag.Title = "Contact Me";
}
<h2>Raj Yogi</h2>
<h3>@ViewBag.Message</h3>

<address>
    ABC street east<br />
    Barrie, ON L4M5X4<br />
    <abbr title="Phone">P:</abbr>
    123-456-7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">raj.yogi@raj.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">raj@abc.com</a>
</address>